.editorBoxContainer {
    display: grid;
    grid-template-columns: .2fr .2fr 1fr;
    border: 1px solid red;
    width: 100%;
    height: 40vw;
}

.previewBox{
    background-image: url('bg.png');
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
}
.mainCanvas {
    margin: auto;
}

.toolBox{
    border: 1px solid green;
}
.toolBoxItem:hover{
    background-color: rgb(218, 218, 218);
}
.toolBoxElement{
   cursor: pointer;
}



/*elemnts*/

.element{
    cursor: pointer;
}

.active{
    position: relative;
    -webkit-box-shadow: 0 0 5px 5px rgba(115,138,230,1),0 0 5px 5px rgba(115,138,230,1)!important;
    -moz-box-shadow: 0 0 5px 5px rgba(115,138,230,1),0 0 5px 5px rgba(115,138,230,1)!important;
    box-shadow: 0 0 5px 5px rgba(115,138,230,1),0 0 5px 5px rgba(115,138,230,1)!important;
    z-index:10!important;
}
.deleteComponentBtn{
    position: absolute; 
    z-index:11;
    display: none;
    transform: translate(-25px, -25px);
}

.deleteComponentBtn:hover{
    display: block;
}

.element:hover + .deleteComponentBtn{
    display: block;
}